body{
    margin:10px 10px 10px 10px;
}
.navbutton{
    color: #e4dbd9;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.navbutton:hover{
    color: #63a583;
}
.mynav{
    margin: 0px 0px 0px 0px;
}
.navbar-brand{
    margin-right: 2em;
}