p{
    color: #03111c;
}

.navbutton{
    color: white;
}

.navbutton:hover{
    color: #4d8a47;
}

.navbar-brand{
    margin-right: 2em;
}

.link-emb{
    color: #4d8a47;
    font-weight: bold;
}

.link-emb:hover{
    color: #4d8a47;
}

.fade {
    margin: 0 20px;
    animation: fadeIn 2s ease forwards;
    -webkit-animation: fadeIn 2s ease forwards;
    animation-iteration-count: 1;
    }
    
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }