{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <br>
                <h1 class="fade">Sobre mim</h1>
                <hr class="my-4">
                <p class="fade">
                    Brasileiro, formando em Análise de Sistemas pela faculdade Multivix de Vila Velha/ES.<br><br>
                    Sempre fui um jovem fascinado pela computação, tanto que tive meu primeiro computador aos 13 anos.
                    Na época utilizava-o para estudos e tive minha primeira experiência com linguagens de programação 
                    (Python) desenvolvendo jogos na ja extinta BGE (Blender Game Engine).
                </p>
                <p class="fade">
                    <br>Atualmente invisto em capacitação seja faculdade ou cursos com o objetivo de me tornar um engenheiro 
                    de sofware. Desenvolvimento de projetos pessoais e estudos tem sido meu café da manha nos últimos 3 anos.
                    <br>Você pode conferir o projeto deste blog no <a class="link-emb" href="https://github.com/sapiendraft/awesomedevblog">GitHub</a>
                </p>
            </div>
            <div class="col-lg-2 offset-lg-2"></div>
        </div>
    </div>

{% endblock %}