<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
</head>
    <body>
        <nav class="navbar mynav" role="navigation" id="navbar">
            <div class="container">
                <a class="navbar-brand mynav" href="{% url 'home' %}">BLOG BRAND</a>
                <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
                <a class="nav-item nav-link" href="{% url 'post_list' %}">Blog</a>

                <div class="navbar align-items-center ml-auto">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'post_new' %}">New Post</a>
                    <a class="nav-item nav-link" href="{% url 'post_draft_list' %}">Drafts</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    <a class="nav-item">Welcome: {{user.username}}</a>
                    {% else %}
                    <a class="nav-item nav-link" href="https://github.com/sapiendraft">Github</a>
                    <a class="nav-item nav-link" href="https://www.linkedin.com/in/raphael-santos-barbosa-59364916a/">LinkedIn</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog_posts">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>