{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-4">
                <br>
                <h5 class="fade">OLÁ, EU SOU</h5>
                <h2 class="fade">RAPHAEL SANTOS.</h2>
                <hr class="my-4">
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-10">
                <h1 class="fade">Futuro Engenheiro de Software.</h1>
                <p class="fade">Brasileiro, estudante de Análise de Sistemas em busca de desafios.<a class="link-emb" href="{% url 'about' %}"> Saiba mais.</a></p>
            </div>
            <div class="col-lg-2 offset-lg-2">
            </div>
        </div>
    </div>

{% endblock %}